.coments-block
  .coments-block__section
    .page-title.page-title--20px Комментарии
      span.coments-counter 13

    form.commets-form
      .form-group
        textarea(placeholder="Текст комментария...")
      .form-footer
        .current-login Вы авторизованы под ником 
          span.current-nickname  Nikolay1975

        button(type="submit").btn Добавить комментарий
  
  ul.comments-list
    li 
      .comment
        .comment__head
          .comment__avatar
            img(src="pictures/article-avatar.png", alt="avatar")
          .comment__title <b> Марина Егорова </b>
            .comment__date 10.07.2017, 13:45

        .comment__body
          .comment__text В итоге останавливаюсь на цветовой схеме, близкой к изначальной. Разрабатываю слоган и приступаю к фирменному стилю. Графика стиля базируется на условной дорожной схеме, по которой крест, символизирующий аптеку, движется к точке назначения. Стиль акцентирует внимание на уникальном торговом предложении бренда – доставке. Второй вариант знака – состоящий из перетекающих друг в друга точек крест. В итоге останавливаюсь на цветовой схеме, близкой к изначальной. Разрабатываю слоган и приступаю к фирменному стилю. Графика стиля базируется на условной дорожной схеме, по которой крест, символизирующий аптеку, движется к точке назначения. Стиль акцентирует внимание на уникальном торговом предложении бренда – доставке. Второй вариант знака – состоящий из перетекающих друг в друга точек крест.
          a(href="#!").btn.btn-medium.btn-transparent Ответить

    li 
      .comment
        .comment__head
          .comment__avatar
            img(src="pictures/article-avatar.png", alt="avatar")
          .comment__title <b>Евгения Большова</b>
            .comment__date 10.07.2017, в 13:45

        .comment__body
          .comment__text Очень желательно заполнить поле с телефоном (или мобильным номером). Если продавец укажет его на наклейке с адресом доставки, то в этом случае есть вероятность того, что при поступлении посылки в ваше почтовое отделение, его сотрудник позвонит по указанному номеру и оповестит вас о возможности прийти и забрать вашу посылку. В итоге останавливаюсь на цветовой схеме, близкой к изначальной. Разрабатываю слоган и приступаю к фирменному стилю. Графика стиля базируется на условной дорожной схеме, по которой крест, символизирующий аптеку, движется к точке назначения. Стиль акцентирует внимание на уникальном торговом предложении бренда – доставке. Второй вариант знака – состоящий из перетекающих друг в друга точек крест.
          a(href="#!").btn.btn-medium.btn-transparent Ответить

        .comment.comment--reply
          .comment__head
            .comment__avatar
              img(src="images/default-avatar.png", alt="avatar")
            .comment__title <b> Валентин Иванов </b> ответил пользователю <b> Евгения Большова </b>

              .comment__date 10.07.2017, в 13:45

          .comment__body
            .comment__text Аптека Vitamia предлагает, наряду с традиционным магазином, возможность заказать лекарства онлайн, с доставкой до дома или больницы. Скетчи вариантов логотипа: Аптека Vitamia предлагает, наряду с традиционным магазином, возможность заказать лекарства онлайн. Аптека Vitamia предлагает, наряду с традиционным магазином, возможность заказать лекарства онлайн, с доставкой до дома или больницы. Скетчи вариантов логотипа: Аптека Vitamia предлагает, наряду с традиционным магазином, возможность заказать лекарства онлайн.
            a(href="#!").btn.btn-medium.btn-transparent Ответить

        .comment.comment--reply
          .comment__head
            .comment__avatar
              img(src="pictures/article-avatar.png", alt="avatar")
            .comment__title <b> Валентин Иванов </b> ответил пользователю <b> Евгения Большова </b>

              .comment__date 10.07.2017, в 13:45

          .comment__body
            .comment__text В какой графе оставлять номер почтового отделения?
            a(href="#!").btn.btn-medium.btn-transparent Ответить
    
    li 
      .comment
        .comment__head
          .comment__avatar
            img(src="pictures/article-avatar.png", alt="avatar")
          .comment__title <b> Марина Егорова </b>
            .comment__date 10.07.2017, 13:45

        .comment__body
          .comment__text В итоге останавливаюсь на цветовой схеме, близкой к изначальной. Разрабатываю слоган и приступаю к фирменному стилю. Графика стиля базируется на условной дорожной схеме, по которой крест, символизирующий аптеку, движется к точке назначения. Стиль акцентирует внимание на уникальном торговом предложении бренда – доставке. Второй вариант знака – состоящий из перетекающих друг в друга точек крест. В итоге останавливаюсь на цветовой схеме, близкой к изначальной. Разрабатываю слоган и приступаю к фирменному стилю. Графика стиля базируется на условной дорожной схеме, по которой крест, символизирующий аптеку, движется к точке назначения. Стиль акцентирует внимание на уникальном торговом предложении бренда – доставке. Второй вариант знака – состоящий из перетекающих друг в друга точек крест.
          form.commets-form
            .form-group
              textarea(placeholder="Текст ответа на комментарий...")
            .text-right
              a(href="#!").cancel-btn Отмена
              button(type="submit").btn.btn-medium Ответить
    
    li 
      .comment
        .comment__head
          .comment__avatar
            img(src="pictures/article-avatar.png", alt="avatar")
          .comment__title <b> Евгения Большова </b>
            .comment__date 10.07.2017, в 13:45

        .comment__body
          .comment__text Очень желательно заполнить поле с телефоном (или мобильным номером). Если продавец укажет его на наклейке с адресом доставки, то в этом случае есть вероятность того, что при поступлении посылки в ваше почтовое отделение, его сотрудник позвонит по указанному номеру и оповестит вас о возможности прийти и забрать вашу посылку. В итоге останавливаюсь на цветовой схеме, близкой к изначальной. Разрабатываю слоган и приступаю к фирменному стилю. Графика стиля базируется на условной дорожной схеме, по которой крест, символизирующий аптеку, движется к точке назначения. Стиль акцентирует внимание на уникальном торговом предложении бренда – доставке. Второй вариант знака – состоящий из перетекающих друг в друга точек крест.
          a(href="#!").btn.btn-medium.btn-transparent Ответить

        .comment.comment--reply
          .comment__head
            .comment__avatar
              img(src="images/default-avatar.png", alt="avatar")
            .comment__title <b> Валентин Иванов </b> ответил пользователю <b> Евгения Большова </b>
              .comment__date 10.07.2017, в 13:45

          .comment__body
            .comment__text Аптека Vitamia предлагает, наряду с традиционным магазином, возможность заказать лекарства онлайн, с доставкой до дома или больницы. Скетчи вариантов логотипа: Аптека Vitamia предлагает, наряду с традиционным магазином, возможность заказать лекарства онлайн. Аптека Vitamia предлагает, наряду с традиционным магазином, возможность заказать лекарства онлайн, с доставкой до дома или больницы. Скетчи вариантов логотипа: Аптека Vitamia предлагает, наряду с традиционным магазином, возможность заказать лекарства онлайн.
            form.commets-form
              .form-group
                textarea(placeholder="Текст ответа на комментарий...")
              .text-right
                a(href="#!").cancel-btn Отмена
                button(type="submit").btn.btn-medium Ответить