footer.footer
  .container
    .footer__section
      .copyright 2017 © AliWorld </br> Гид по миру покупок в AliExpress

    .footer__section
      ul.footer-nav
        li
          a(href="#!") О сайте
        li
          a(href="#!") Статьи
        li
          a(href="#!") Обзоры товаров

    .footer__section
      ul.footer-nav
        li
          a(href="#!") Жалобы на магазины
        li
          a(href="#!") Трекинг покупок
        li
          a(href="#!") Новости

    .footer__section
      .footer-link.circs-icon
        a(href="#!") Политика конфиденциальности
      .footer-link.mail-icon
        a(href="#!") Связь с администрацией


// #footer
