ul.pagination
  li
    a(href='#')
      span.prev-arrow
      span.hidden-tablet Предыдущая
  li
    a(href='#') 5
  li
    a(href='#') 6
  li.active
    a(href='#') 7
  li
    a(href='#') 8
  li
    a(href='#') 9
  li
    a(href='#') 
      span.hidden-tablet Следующая
      span.next-arrow