ul.pagination
  li
    a(href='#')
      span.prev-arrow
      | Предыдущая
  li
    a(href='#') 5
  li
    a(href='#') 6
  li.active
    a(href='#') 7
  li
    a(href='#') 8
  li
    a(href='#') 9
  li
    a(href='#') 
      | Следующая
      span.next-arrow