.tags-block
  a(href="#!").btn.btn-small.btn-transparent Все новости
  a(href="#!").btn.btn-small.btn-transparent Aliexpress
  a(href="#!").btn.btn-small.btn-transparent Игры
  a(href="#!").btn.btn-small.btn-transparent Pимние покупки
  a(href="#!").btn.btn-small.btn-transparent Зимние покупки
  a(href="#!").btn.btn-small.btn-transparent Доставкка
  a(href="#!").btn.btn-small.btn-transparent Смартфоны
  a(href="#!").btn.btn-small.btn-transparent Все новости
  a(href="#!").btn.btn-small.btn-transparent Все новости
  a(href="#!").btn.btn-small.btn-transparent Aliexpress
  a(href="#!").btn.btn-small.btn-transparent Игры
  a(href="#!").btn.btn-small.btn-transparent Pимние покупки
  a(href="#!").btn.btn-small.btn-transparent Зимние покупки
  a(href="#!").btn.btn-small.btn-transparent Доставкка
  a(href="#!").btn.btn-small.btn-transparent Смартфоны
  a(href="#!").btn.btn-small.btn-transparent Все новости
  a(href="#!").btn.btn-small.btn-transparent Все новости
  a(href="#!").btn.btn-small.btn-transparent Aliexpress
  a(href="#!").btn.btn-small.btn-transparent Игры
  a(href="#!").btn.btn-small.btn-transparent Pимние покупки
  a(href="#!").btn.btn-small.btn-transparent Зимние покупки