// typography var
$site-text-size: 15px
$site-line-height: 20px
$site-text-color: #5f5f5f
$site-title-color: #000000

$site-font-family: 'MuseoSans', Arial, sans-serif
$title-font-family: 'MuseoSans', Arial, sans-serif
$btn-font-family: 'MuseoSans', Arial, sans-serif

$body-bg-color: #f4f4f4

$title-h1-size: 30px
$title-h2-size: 25px
$title-h3-size: 20px
$title-h4-size: 18px
$title-h5-size: 16px

$color-link: #000000
$border-color: #f4f4f4

// btn var
$btn-bg-color: #ff9900
$btn-color: #fff

//btn hover
$btn-h-bg-color: #e88e06
$btn-h-color: #fff

//btn active
$btn-act-bg-color: #e88e06
$btn-act-color: #fff
$btn-act-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.10)

// media queries
$desktop-large: 1280px
$desktop: 1024px
$tablet: 767px
$mobile: 520px
$mobile-s: 414px

// rating variables
$star-width: 15px
$star-height: 11px

$star-width2: 26px
$star-height2: 19px

// colors

$hover-color: #ff9900
