// typography var
$site-text-size: 15px
$site-line-height: 20px
$site-text-color: #5f5f5f
$site-title-color: #000000

$site-font-family: 'MuseoSans', Arial, sans-serif
$title-font-family: 'MuseoSans', Arial, sans-serif
$btn-font-family: 'MuseoSans', Arial, sans-serif

$body-bg-color: #f4f4f4

$title-h1-size: 30px
$title-h2-size: 26px
$title-h3-size: 22px
$title-h4-size: 18px
$title-h5-size: 16px

$color-link: #000000

// btn var
$btn-bg-color: #2b82dc
$btn-color: #fff

//btn hover
$btn-h-bg-color: #0c549f
$btn-h-color: #fff

//btn active
$btn-act-bg-color: #0c549f
$btn-act-color: #fff
$btn-act-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.10)

// media queries
$desktop-large: 1200px
$desktop: 992px
$tablet: 768px
$mobile: 480px

// rating variables
$star-width: 20px
$star-height: 15px
