@import mixins
@import const
@import sprite

/*----------- Form sryle *
 ------------------------------------------------------------*/

.placeholder 
  color: #222222 

*:focus::-moz-placeholder 
  color: transparent !important 

*[autofocus]::-moz-placeholder:focus 
  color: #000!important 

*:focus:-moz-placeholder 
  color: transparent !important 

*[autofocus]:-moz-placeholder:focus 
  color: #000!important 

*:focus::-webkit-input-placeholder 
  color: transparent !important 

*[autofocus]::-webkit-input-placeholder 
  color: #000!important 

input, textarea
  +placeholder-color(#5e5e5e)
  +border-radius(0px)
  padding: 0 20px
  width: 100%
  height: 50px
  position: relative
  outline: none
  font: 14px $site-font-family
  color: #5e5e5e
  background-color: #fff
  border: 1px solid #e0e0e0
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
textarea
  height: 140px
  vertical-align: top
  padding: 15px 20px
  resize: none

.form-footer
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-between

.tracking-form
  position: relative
  width: 100%

  &__input
    border-radius: 4px 
    background-color: #ffffff
    padding: 0 40px 0 18px 
    height: 42px 

  &__submit
    position: absolute
    border: none
    cursor: pointer
    right: 15px
    top: 50%
    margin-top: -6px
    width: 17px
    height: 12px
    background: url('../images/arrow-right-yellow.svg') 0 0 no-repeat
    font-size: 16px 
    color: #5e5e5e
    +placeholder-color(#5e5e5e)

.current-login
  font: 15px/1.3 'PT Sans', sans-serif
  
.current-nickname
  color: #000000
  font-weight: 700

.commets-form
  
  .form-group
    margin-bottom: 20px

  textarea 
    background-color: #f4f4f4
    border: none
    color: #5f5f5f
    +placeholder-color(#5f5f5f)
    font: 16px/1.3 'PT Sans', sans-serif

  button
    margin-left: 25px

  .cancel-btn
    text-decoration: underline
    &:hover, &:focus
      text-decoration: none

.registration-wrap
  max-width: 605px
  margin: 0 auto
  padding: 60px 15px

.registration-form
  margin-top: 20px
  .form-group
    margin-bottom: 30px

  input 
    border: none
    background-color: #f4f4f4
    font: 16px/1.3 'PT Sans', sans-serif

  label 
    display: inline-block
    margin-bottom: 6px
    color: #a0a0a0
    font: 14px/1.3 'PT Sans', sans-serif

  .btn
    min-width: 240px

.form-caption
  color: #5e5e5e
  font: 15px/1.3 'PT Sans', sans-serif
  a 
    color: #000
    text-decoration: underline
    &:hover, &:focus
      text-decoration: none