doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade

  body
    #wrapper

      //= template/header.jade

      section.middle.middle-empty-page
        .empty-page
          .container
            .empty-page-title Промашечка вышла :(
            .empty-page-error 404
            .empty-page-message Наверно вы ошиблись при наборе адреса или ссылка, по которой вы пришли, была удалена, перемещена или временно не доступна.

            .text-center
              a(href="#!").btn Перейти на главную страницу
          

    //= template/footer.jade

    //= template/scripts.jade
