doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade

  body
    #wrapper

      //= template/header.jade

      section.middle
        .container
          
          //= template/breadcrumb.jade

          .block-about

            .about-banner
              .about-banner__body
                .about-banner__title Что такое AliWorld?
                .about-banner__text Каждый человек делает что-то лучше других. Мы, например, лучше других разбираемся в покупках на AliExpress.com. Что купить, как, а главное, у кого – на эти вопросы мы отвечаем каждый день, чтобы вы не волновались и не рисковали, а совершали только выгодные и честные покупки. 

            //- .block-about__body
            //-   .block-about__col
            //-     p AliWorld.ru - это информационный портал, посвящённый покупкам в интернет-магазине AliExpress.com, а также методам и службам доставки товаров покупателям.
            //-     p На текущий момент AliTrack.ru представляет собой сервис отслеживания почтовых отправлений, новостную ленту, каталог обзоров товаров, на которые стоит обратить внимание и форум для общения покупателей.
            //-     p Проект активно развивается, поэтому в ближайшее время вас ждёт много приятных сюрпризов.

            //-   .block-about__col
            //-     p Суть AliWorld в том, что его создают реальные покупатели. Мы заказываем товары, тестируем их, изучаем продавцов, ищем выгодные сделки и предложения. Наша цель – развивать не просто сайт, где можно хвастаться приобретенными вещами, рассказывать о неудачах, советоваться и задавать вопросы.
            //-     p Мы объединяем всех, кто покупает на AliExpress, в одном месте собираем покупательский опыт, информацию о тех, кому стоит доверять, а кому не стоит. 

          

    //= template/footer.jade

    //= template/scripts.jade
