doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade

  body
    #wrapper

      //= template/header.jade

      section.middle
        .container
          
          //= template/breadcrumb.jade

          .page-title Статьи

          .middle__row
            .middle__content

              .article-list.article-list--two-col
                li
                  article.article.article--white
                    .article__body
                      .article__image
                        img(src="pictures/news-480x240.jpg", alt="articel-image")
                        .article__favorite
                      .article__title
                        a(href="#!").article__link Самый популярный запрос на АлиЭкспресс – спиннеры
                      .article__text К окончанию первого полугодия на АлиЭкспресс решили подсчитать, какие товары пользовались наибольшей популярностью среди своих пользователей. Для этого решили исследовать запросы покупателей за последние два месяца. 
                    .article__footer.article__footer--separate
                      .article__section
                        .article__publicated 8.07.2017

                      .article__section
                        .article__view 655
                        .article__comments 23
                        a(href="#!").btn.btn-medium.footer-btn Далее

                li
                  article.article.article--white
                    .article__body
                      .article__image
                        img(src="pictures/news-480x240.jpg", alt="articel-image")
                        .article__favorite.active
                      .article__title
                        a(href="#!").article__link Самый популярный запрос на АлиЭкспресс – спиннеры
                      .article__text К окончанию первого полугодия на АлиЭкспресс решили подсчитать, какие товары пользовались наибольшей популярностью среди своих пользователей. Для этого решили исследовать запросы покупателей за последние два месяца. 
                    .article__footer.article__footer--separate
                      .article__section
                        .article__publicated 8.07.2017

                      .article__section
                        .article__view 655
                        .article__comments 23
                        a(href="#!").btn.btn-medium.footer-btn Далее

                li
                  article.article.article--white
                    .article__body
                      .article__image
                        img(src="pictures/news-480x240.jpg", alt="articel-image")
                        .article__favorite
                      .article__title
                        a(href="#!").article__link Самый популярный запрос на АлиЭкспресс – спиннеры
                      .article__text К окончанию первого полугодия на АлиЭкспресс решили подсчитать, какие товары пользовались наибольшей популярностью среди своих пользователей. Для этого решили исследовать запросы покупателей за последние два месяца. 
                    .article__footer.article__footer--separate
                      .article__section
                        .article__publicated 8.07.2017

                      .article__section
                        .article__view 655
                        .article__comments 23
                        a(href="#!").btn.btn-medium.footer-btn Далее

                li
                  article.article.article--white
                    .article__body
                      .article__image
                        img(src="pictures/news-480x240.jpg", alt="articel-image")
                        .article__favorite
                      .article__title
                        a(href="#!").article__link Самый популярный запрос на АлиЭкспресс – спиннеры
                      .article__text К окончанию первого полугодия на АлиЭкспресс решили подсчитать, какие товары пользовались наибольшей популярностью среди своих пользователей. Для этого решили исследовать запросы покупателей за последние два месяца. 
                    .article__footer.article__footer--separate
                      .article__section
                        .article__publicated 8.07.2017

                      .article__section
                        .article__view 655
                        .article__comments 23
                        a(href="#!").btn.btn-medium.footer-btn Далее
                li
                  article.article.article--white
                    .article__body
                      .article__image
                        img(src="pictures/news-480x240.jpg", alt="articel-image")
                        .article__favorite
                      .article__title
                        a(href="#!").article__link Самый популярный запрос на АлиЭкспресс – спиннеры
                      .article__text К окончанию первого полугодия на АлиЭкспресс решили подсчитать, какие товары пользовались наибольшей популярностью среди своих пользователей. Для этого решили исследовать запросы покупателей за последние два месяца. 
                    .article__footer.article__footer--separate
                      .article__section
                        .article__publicated 8.07.2017

                      .article__section
                        .article__view 655
                        .article__comments 23
                        a(href="#!").btn.btn-medium.footer-btn Далее

                li
                  article.article.article--white
                    .article__body
                      .article__image
                        img(src="pictures/news-480x240.jpg", alt="articel-image")
                        .article__favorite
                      .article__title
                        a(href="#!").article__link Самый популярный запрос на АлиЭкспресс – спиннеры
                      .article__text К окончанию первого полугодия на АлиЭкспресс решили подсчитать, какие товары пользовались наибольшей популярностью среди своих пользователей. Для этого решили исследовать запросы покупателей за последние два месяца. 
                    .article__footer.article__footer--separate
                      .article__section
                        .article__publicated 8.07.2017

                      .article__section
                        .article__view 655
                        .article__comments 23
                        a(href="#!").btn.btn-medium.footer-btn Далее
              
              //= template/pagination.jade

            .middle__aside
              .block
                .page-title Популярные метки
                
                //= template/tags-block.jade

              .block
                .page-title Новые комментарии
          
                .aside-comments
                  .aside-comment 
                    span.bold Ярослав Родный 
                    | к записи  
                    a(href="#!")  «Самый популярный запрос на АлиЭкспресс – спиннеры»
                    |  в разделе 
                    a(href="#!")  «Статьи»
                  .aside-comment 
                    span.bold Ярослав Родный 
                    | к записи  
                    a(href="#!")  «Самый популярный запрос на АлиЭкспресс – спиннеры»
                    |  в разделе 
                    a(href="#!")  «Статьи»
                  .aside-comment 
                    span.bold Ярослав Родный 
                    | к записи  
                    a(href="#!")  «Самый популярный запрос на АлиЭкспресс – спиннеры»
                    |  в разделе 
                    a(href="#!")  «Статьи»
                  .aside-comment 
                    span.bold Ярослав Родный 
                    | к записи  
                    a(href="#!")  «Самый популярный запрос на АлиЭкспресс – спиннеры»
                    |  в разделе 
                    a(href="#!")  «Статьи»
                  .aside-comment 
                    span.bold Ярослав Родный 
                    | к записи  
                    a(href="#!")  «Самый популярный запрос на АлиЭкспресс – спиннеры»
                    |  в разделе 
                    a(href="#!")  «Статьи»
                  .aside-comment 
                    span.bold Ярослав Родный 
                    | к записи  
                    a(href="#!")  «Самый популярный запрос на АлиЭкспресс – спиннеры»
                    |  в разделе 
                    a(href="#!")  «Статьи»

      

    //= template/footer.jade

    //= template/scripts.jade
