doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade

  body
    #wrapper

      //= template/header.jade

      section.middle
        .container
          
          //= template/breadcrumb.jade

          .page-title Личный кабинет

            a(href="#!").cabinet-log-out.visible-tablet Выход

          .cabinet-wrap
            .cabinet-wrap__aside
              ul.cabinet-nav
                li.active
                  a(href="#!") Настройки профиля
                li 
                  a(href="#!") Мои жалобы
                li 
                  a(href="#!") Мои обзоры

              a(href="#!").cabinet-log-out.hidden-tablet Выход

            .cabinet-wrap__body
              
              .cabinet-form
                .cabinet-form__left
                  img(src="images/avatar-preview.jpg").avatar-image.js-pasteSelected

                  .form-group
                    a.chose_file(href='#') Загрузить аватар
                    span.chose_file_text
                    input.chose_file_input.js-uploadAvatar(type='file', name='file', id='')

                .cabinet-form__right
                  .form-group
                    label Имя:
                    input(type="text" placeholder="Николай").cabinet-form__input

                  .form-group
                    label Фамилия:
                    input(type="text" placeholder="Константиновский").cabinet-form__input

                  .form-group
                    label E-mail:
                    input(type="email" placeholder="nikolay@mail.ru").cabinet-form__input

                  .form-group
                    label Старый пароль:
                    input(type="password" placeholder="Введите старый пароль...").cabinet-form__input

                  .form-group
                    label Новый пароль:
                    input(type="password" placeholder="Введите новый пароль...").cabinet-form__input

                  .form-group
                    label Повторите новый пароль:
                    input(type="text" placeholder="Повторите новый пароль...").cabinet-form__input

                  .form-group
                    label Фамилия:
                    input(type="text" placeholder="Константиновский").cabinet-form__input

                  .form-group
                    .checkbox-input
                      input(type="checkbox" class="checkbox" id="checkbox-1")
                      label(for="checkbox-1") <span></span> 
                        .checkbox-text Получать новости на электронную почту

                  .form-group
                    button(type="submit").btn Сохранить изменения


              

              

    //= template/footer.jade

    //= template/scripts.jade
