doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade

  body
    #wrapper

      //= template/header.jade

      section.middle
        .container
          
          //= template/breadcrumb.jade

          .page-title Личный кабинет

          .middle__row
            .middle__content

              

            .middle__aside
              

              

    //= template/footer.jade

    //= template/scripts.jade
