doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade

  body
    .page
      #wrapper

        //= template/header.jade

        section.middle
          .container
            
            //= template/breadcrumb.jade

            .middle__row
              .middle__content

                .complaint-detailed.block.block--white
                  .content
                    .block__header
                      h1.title-h1 Hao Han YingGuang Store 
                      .block__head-item
                        .diamond-rating-wrap

                          .rating-value Рейтинг: 1056

                          ul.diamond-rating
                            li
                            li
                            li
                            li
                            li
                              

                      .block__head-item
                        .article__date 10 июля 2017, 13:25


                    .block__body
                      
                      p На АлиЭкспресс появилась мода совершать покупки и заказывать отправку товара посылкой до востребования. Причин для такой «заморочки» может быть много. Иногда пользователи по каким-то причинам не хотят светить свой реальный адрес. Возможно, они просто боятся, что его могут использовать в нехороших целях. 
                      p Очень желательно заполнить поле с телефоном (или мобильным номером). Если продавец укажет его на наклейке с адресом доставки, то в этом случае есть вероятность того, что при поступлении посылки в ваше почтовое отделение, его сотрудник позвонит по указанному номеру и оповестит вас о возможности прийти и забрать вашу посылку.
                      p Если вы заказали посылку без возможности ее отслеживания в интернете (к примеру, дешевый товар с бесплатной доставкой), то не забывайте заглядывать на почту и не пропустите окончание срока защиты покупателя в карточке совершенного заказа. Если время будет на исходе, а в ваше почтовое отделение посылка так и не поступит, вы знаете, что делать – открывайте спор и не забудьте, что недавно обновились правила ведения споров на АлиЭкспресс.
                      p Очень желательно заполнить поле с телефоном (или мобильным номером). Если продавец укажет его на наклейке с адресом доставки, то в этом случае есть вероятность того, что при поступлении посылки в ваше почтовое отделение, его сотрудник позвонит по указанному номеру и оповестит вас о возможности прийти и забрать вашу посылку.
                      p Если вы заказали посылку без возможности ее отслеживания в интернете (к примеру, дешевый товар с бесплатной доставкой), то не забывайте заглядывать на почту и не пропустите окончание срока защиты покупателя в карточке совершенного заказа. Если время будет на исходе, а в ваше почтовое отделение посылка так и не поступит, вы знаете, что делать – открывайте спор и не забудьте, что недавно обновились правила ведения споров на АлиЭкспресс. 
                      p Если время будет на исходе, а в ваше почтовое отделение посылка так и не поступит, вы знаете, что делать – открывайте спор и не забудьте, что недавно обновились правила ведения споров на АлиЭкспресс.

                      .user-info-wrap
                        
                        
                        .user-info-wrap__item
                          .user-info
                            .user-info__avatar
                              img(src="pictures/article-avatar.png", alt="avatar")
                            .user-info__title Александр Бывало
                            
                            .rating-section
                              .rating-value Оценка:

                              ul.rating
                                li.active(style="width: 40%")
                                  span.star1
                                li
                                  span.star2
                                li
                                  span.star3
                                li
                                  span.star4
                                li
                                  span.star5

                        .user-info-wrap__item
                          .block__head-item
                            .article__view 144
                          .block__head-item
                            a(href="#!").add-to-favorite Добавить в избранное

                    .block__divider

                    .attached-images
                      .page-title.page-title--20px 
                        span Прикреплённые изображения 

                        span.page-title__prefix  — 15 штук

                      .owl-carousel.owl-images.popup-gallery
                        .item
                          a(href="pictures/attached-image-186x141.jpg")
                            img(src="pictures/attached-image-186x141.jpg", alt="attached-image")
                        .item
                          a(href="pictures/attached-image-186x141.jpg")
                            img(src="pictures/attached-image-186x141.jpg", alt="attached-image")
                        .item
                          a(href="pictures/attached-image-186x141.jpg")
                            img(src="pictures/attached-image-186x141.jpg", alt="attached-image")
                        .item
                          a(href="pictures/attached-image-186x141.jpg")
                            img(src="pictures/attached-image-186x141.jpg", alt="attached-image")
                        .item
                          a(href="pictures/attached-image-186x141.jpg")
                            img(src="pictures/attached-image-186x141.jpg", alt="attached-image")
                        .item
                          a(href="pictures/attached-image-186x141.jpg")
                            img(src="pictures/attached-image-186x141.jpg", alt="attached-image")
                        .item
                          a(href="pictures/attached-image-186x141.jpg")
                            img(src="pictures/attached-image-186x141.jpg", alt="attached-image")
                    
                    .block__divider

                    //= template/coments-block.jade

                .tag-links
                  a(href="#!") Теги, 
                  a(href="#!") Спиннеры, 
                  a(href="#!") Игры, 
                  a(href="#!") Популярное, 
                  a(href="#!") Профнастил, 
                  a(href="#!") Сайдинг, 
                  a(href="#!") Сопутствующие товары для профлиста, 
                  a(href="#!") Метки металл, 
                  a(href="#!") Монтаж кровли, 
                  a(href="#!") Сопутствующие товары 
                



              .middle__aside
                .block
                  .page-title Популярные метки
                  
                  //= template/tags-block.jade

                .block
                  .page-title Новые комментарии
            
                  .aside-comments
                    .aside-comment 
                      span.bold Ярослав Родный 
                      | к записи  
                      a(href="#!")  «Самый популярный запрос на АлиЭкспресс – спиннеры»
                      |  в разделе 
                      a(href="#!")  «Статьи»
                    .aside-comment 
                      span.bold Ярослав Родный 
                      | к записи  
                      a(href="#!")  «Самый популярный запрос на АлиЭкспресс – спиннеры»
                      |  в разделе 
                      a(href="#!")  «Статьи»
                    .aside-comment 
                      span.bold Ярослав Родный 
                      | к записи  
                      a(href="#!")  «Самый популярный запрос на АлиЭкспресс – спиннеры»
                      |  в разделе 
                      a(href="#!")  «Статьи»
                    .aside-comment 
                      span.bold Ярослав Родный 
                      | к записи  
                      a(href="#!")  «Самый популярный запрос на АлиЭкспресс – спиннеры»
                      |  в разделе 
                      a(href="#!")  «Статьи»
                    .aside-comment 
                      span.bold Ярослав Родный 
                      | к записи  
                      a(href="#!")  «Самый популярный запрос на АлиЭкспресс – спиннеры»
                      |  в разделе 
                      a(href="#!")  «Статьи»
                    .aside-comment 
                      span.bold Ярослав Родный 
                      | к записи  
                      a(href="#!")  «Самый популярный запрос на АлиЭкспресс – спиннеры»
                      |  в разделе 
                      a(href="#!")  «Статьи»
            

      //= template/footer.jade

    //= template/scripts.jade
