doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade

  body
    #wrapper

      //= template/header.jade

      section.middle
        .container
          
          //= template/breadcrumb.jade

          .page-title Отслеживание почтового отправления

          form.tracking-parcel.tracking-parcel--small.tracking-parcel--blue-bg
            .tracking-parcel__body
            
              button(type="submit").btn.tracking-parcel__submit Найти
              .tracking-parcel__input
                input(type="text" placeholder="Поиск магазина...")


          .middle__row
            .middle__content

              ul.complaints-list
                li
                  article.article.article--white
                    .article__body
                                            
                      .article__title
                        a(href="#!").article__link.article__link--medium Самый популярный запрос на АлиЭкспресс – спиннеры
                        .article__favorite

                      .complaint-rating
                        .rating-value Рейтинг магазина: 1056

                        ul.rating
                          li.active(style="width: 40%")
                            span.star1
                          li
                            span.star2
                          li
                            span.star3
                          li
                            span.star4
                          li
                            span.star5

                        .article__publicated 10.07.2017

                      .article__text Решил приобрести у этого продавца магнитолу в авто. Предварительно затеял переписку, чтобы узнать все функции магнитолы, а именно можно ли подключить к ней цифровой ТВ тюнер. после заверений продавца приобрел тюнер выбросил деньги на ветер, так как у данной магнитолы нет видеовхода в разъеме AUX. А так же не оказалось и пульта ДУ. В общем не рекомендую приобретать данный товар, особенно у этого продавца. Решил приобрести у этого продавца магнитолу в авто. Предварительно затеял переписку, чтобы узнать все функции магнитолы, а именно можно ли подключить к ней цифровой ТВ тюнер. после заверений продавца приобрел тюнер выбросил деньги на ветер, так как у данной магнитолы нет видеовхода в разъеме AUX. А так же не оказалось и пульта ДУ. В общем не рекомендую приобретать данный товар, особенно у этого продавца 

                    .article__footer.article__footer--separate
                      .article__section
                        .user-info-wrap
                          .user-info
                            .user-info__avatar
                              img(src="pictures/article-avatar.png", alt="avatar")
                            .user-info__title Александр Бывало

                            .rating-value Оценка:

                            ul.rating
                              li.active(style="width: 40%")
                                span.star1
                              li
                                span.star2
                              li
                                span.star3
                              li
                                span.star4
                              li
                                span.star5

                      .article__section
                        .article__view 655
                        .article__comments 23
                        a(href="#!").btn.btn-medium.footer-btn Далее
                
                li
                  article.article.article--white
                    .article__body
                                            
                      .article__title
                        a(href="#!").article__link.article__link--medium DDozara Car DVD Store 
                        .article__favorite

                      .complaint-rating
                        .rating-value Рейтинг магазина: 1056

                        ul.rating
                          li.active(style="width: 40%")
                            span.star1
                          li
                            span.star2
                          li
                            span.star3
                          li
                            span.star4
                          li
                            span.star5

                      .article__text Решил приобрести у этого продавца магнитолу в авто. Предварительно затеял переписку, чтобы узнать все функции магнитолы, а именно можно ли подключить к ней цифровой ТВ тюнер. после заверений продавца приобрел тюнер выбросил деньги на ветер, так как у данной магнитолы нет видеовхода в разъеме AUX. А так же не оказалось и пульта ДУ. В общем не рекомендую приобретать данный товар, особенно у этого продавца. Решил приобрести у этого продавца магнитолу в авто. Предварительно затеял переписку, чтобы узнать все функции магнитолы, а именно можно ли подключить к ней цифровой ТВ тюнер. после заверений продавца приобрел тюнер выбросил деньги на ветер, так как у данной магнитолы нет видеовхода в разъеме AUX. А так же не оказалось и пульта ДУ. В общем не рекомендую приобретать данный товар, особенно у этого продавца 

                    .article__footer.article__footer--separate
                      .article__section
                        .user-info-wrap
                          .user-info
                            .user-info__avatar
                              img(src="pictures/article-avatar.png", alt="avatar")
                            .user-info__title Александр Бывало

                            .rating-value Оценка:

                            ul.rating
                              li.active(style="width: 40%")
                                span.star1
                              li
                                span.star2
                              li
                                span.star3
                              li
                                span.star4
                              li
                                span.star5

                      .article__section
                        .article__view 655
                        .article__comments 23
                        a(href="#!").btn.btn-medium.footer-btn Далее
                
                li
                  article.article.article--white
                    .article__body
                                            
                      .article__title
                        a(href="#!").article__link.article__link--medium Самый популярный запрос на АлиЭкспресс – спиннеры
                        .article__favorite

                      .complaint-rating
                        .rating-value Рейтинг магазина: 1056

                        ul.rating
                          li.active(style="width: 40%")
                            span.star1
                          li
                            span.star2
                          li
                            span.star3
                          li
                            span.star4
                          li
                            span.star5

                      .article__text Решил приобрести у этого продавца магнитолу в авто. Предварительно затеял переписку, чтобы узнать все функции магнитолы, а именно можно ли подключить к ней цифровой ТВ тюнер. после заверений продавца приобрел тюнер выбросил деньги на ветер, так как у данной магнитолы нет видеовхода в разъеме AUX. А так же не оказалось и пульта ДУ. В общем не рекомендую приобретать данный товар, особенно у этого продавца. Решил приобрести у этого продавца магнитолу в авто. Предварительно затеял переписку, чтобы узнать все функции магнитолы, а именно можно ли подключить к ней цифровой ТВ тюнер. после заверений продавца приобрел тюнер выбросил деньги на ветер, так как у данной магнитолы нет видеовхода в разъеме AUX. А так же не оказалось и пульта ДУ. В общем не рекомендую приобретать данный товар, особенно у этого продавца 

                    .article__footer.article__footer--separate
                      .article__section
                        .user-info-wrap
                          .user-info
                            .user-info__avatar
                              img(src="pictures/article-avatar.png", alt="avatar")
                            .user-info__title Александр Бывало

                            .rating-value Оценка:

                            ul.rating
                              li.active(style="width: 40%")
                                span.star1
                              li
                                span.star2
                              li
                                span.star3
                              li
                                span.star4
                              li
                                span.star5

                      .article__section
                        .article__view 655
                        .article__comments 23
                        a(href="#!").btn.btn-medium.footer-btn Далее
            
              //= template/pagination.jade

            .middle__aside
              
              .block
                //= template/tags-block.jade

              .block
                .page-title Новые комментарии
              
                .aside-comments
                  .aside-comment 
                    span.bold Ярослав Родный 
                    | к записи  
                    a(href="#!")  «Самый популярный запрос на АлиЭкспресс – спиннеры»
                    |  в разделе 
                    a(href="#!")  «Статьи»
                  .aside-comment 
                    span.bold Ярослав Родный 
                    | к записи  
                    a(href="#!")  «Самый популярный запрос на АлиЭкспресс – спиннеры»
                    |  в разделе 
                    a(href="#!")  «Статьи»
                  .aside-comment 
                    span.bold Ярослав Родный 
                    | к записи  
                    a(href="#!")  «Самый популярный запрос на АлиЭкспресс – спиннеры»
                    |  в разделе 
                    a(href="#!")  «Статьи»
                  .aside-comment 
                    span.bold Ярослав Родный 
                    | к записи  
                    a(href="#!")  «Самый популярный запрос на АлиЭкспресс – спиннеры»
                    |  в разделе 
                    a(href="#!")  «Статьи»
                  .aside-comment 
                    span.bold Ярослав Родный 
                    | к записи  
                    a(href="#!")  «Самый популярный запрос на АлиЭкспресс – спиннеры»
                    |  в разделе 
                    a(href="#!")  «Статьи»
                  .aside-comment 
                    span.bold Ярослав Родный 
                    | к записи  
                    a(href="#!")  «Самый популярный запрос на АлиЭкспресс – спиннеры»
                    |  в разделе 
                    a(href="#!")  «Статьи»
              
          

    //= template/footer.jade

    //= template/scripts.jade
