doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade

  body
    #wrapper

      //= template/header.jade

      section.middle.middle--index
        .container
          
          .index-row
            .col-1
              .main-banner
                .owl-carousel.owl-banner
                  .item
                    img(src="images/banner-main-page.jpg", alt="banner-image")

                    .carousel-caption
                      .carousel-title Станьте экспертом в мире покупок на aliexpress!
                      .carousel-text Обзоры товаров, интересные статьи, информация о продавцах и многое другое!
                      a(href="#!").btn Регистрация
                  .item
                    img(src="images/banner-main-page.jpg", alt="banner-image")

                    .carousel-caption
                      .carousel-title Станьте экспертом в мире покупок на aliexpress!
                      .carousel-text Обзоры товаров, интересные статьи, информация о продавцах и многое другое!
                      a(href="#!").btn Регистрация
                  .item
                    img(src="images/banner-main-page.jpg", alt="banner-image")

                    .carousel-caption
                      .carousel-title Станьте экспертом в мире покупок на aliexpress!
                      .carousel-text Обзоры товаров, интересные статьи, информация о продавцах и многое другое!
                      a(href="#!").btn Регистрация
                  .item
                    img(src="images/banner-main-page.jpg", alt="banner-image")

                    .carousel-caption
                      .carousel-title Станьте экспертом в мире покупок на aliexpress!
                      .carousel-text Обзоры товаров, интересные статьи, информация о продавцах и многое другое!
                      a(href="#!").btn Регистрация

              .block.block--white
                .block__header
                  .section-title Новые статьи
                  a(href="#!").btn.btn-small.btn-transparent Все статьи
                  

                ul.article-list.article-list--hirozintal
                  li
                    article.article
                      a(href="#!").article__image.article__image--height-175
                        img(src="pictures/article-233x175-1.jpg", alt="article-image")
                        .article__favorite.article__favorite--small


                      .article__title
                        a(href="#!").article__link Самый популярный запрос на АлиЭкспресс – спиннеры
                      .article__text К окончанию первого полугодия на АлиЭкспресс решили подсчитать, какие товары пользовались наибольшей популярностью среди своих пользователей.
                      .article__footer
                        .article__section
                          .article__publicated 10.07.2017
                        .article__section
                          .article__view 655
                          .article__comments 23

                  li
                    article.article
                      a(href="#!").article__image.article__image--height-175
                        img(src="pictures/article-233x175-2.jpg", alt="article-image")
                        .article__favorite.article__favorite--small.active

                      .article__title
                        a(href="#!").article__link АлиЭкспресс существенно снижает партнерские выплаты
                      .article__text С этого дня за оплаченные и завершенные заказы будет начисляться не более 6.5%

                      .article__footer
                        .article__section
                          .article__publicated 9.07.2017
                        .article__section
                          .article__view 144
                          .article__comments 13

                  li
                    article.article
                      a(href="#!").article__image.article__image--height-175
                        img(src="pictures/article-233x175-3.jpg", alt="article-image")
                        .article__favorite.article__favorite--small
                      .article__title
                        a(href="#!").article__link Заказываем товар на АлиЭкспресс посылкой до востребования
                      .article__text Появилась мода совершать покупки и заказывать отправку товара посылкой до востребования.
                      .article__footer
                        .article__section
                          .article__publicated 8.07.2017
                        .article__section
                          .article__view 456
                          .article__comments 33

              
              .inner-row
                .col-inner

                  .block.block--white
                    .block__header
                      .section-title Обзоры товаров
                      a(href="#!").btn.btn-small.btn-transparent Добавить обзор
                    
                    
                    ul.article-list
                      li
                        article.article
                          a(href="#!").article__image.article__image--height-275
                            img(src="pictures/article-822x274-1.jpg", alt="article-image")
                            .article__favorite.active

                         
                          .article__title
                            a(href="#!").article__link Как я купила свое первое платье на Али-экспресс

                          .article__text Вот это платье я захотела купить, благо, в горящих товарах оно продавалось за 459 рублей. А вот, что пришло: Отшито сикось-накось, швы сборят. Отдельное внимание прошу обратить на то, что прямо по переду, по подолу идет кошмарный грубый шов.
                          .article__footer

                            .article__section
                              .article__owner-avatar
                                img(src="pictures/article-avatar.png", alt="article-avatar")
                              .article__owner-name Евгения Большова
                              .article__publicated 10.07.2017

                            .article__section
                              .article__view 144
                              .article__comments 13

                      li
                        article.article
                          a(href="#!").article__image.article__image--height-275
                            img(src="pictures/article-822x274-2.jpg", alt="article-image")
                            .article__favorite

                          
                          .article__title
                            a(href="#!").article__link Xiaomi Mi Band 1S – отличный и недорогой фитнес-браслет 

                          .article__text Предыдущая модель получила заслуженную популярность среди покупателей во многих странах в мире, и во многом благодаря простоте использования и низкой стоимости. Основным отличием новой модели с приставкой «1S» считается наличие оптического пульсометра, при этом ценник на браслет хоть.
                          .article__footer

                            .article__section
                              .article__owner-avatar
                                img(src="pictures/article-avatar.png", alt="article-avatar")
                              .article__owner-name Евгения Большова
                              .article__publicated 10.07.2017

                            .article__section
                              .article__view 144
                              .article__comments 13

                      li
                        article.article
                          a(href="#!").article__image.article__image--height-275
                            img(src="pictures/article-822x274-3.jpg", alt="article-image")
                            .article__favorite

                          
                          .article__title
                            a(href="#!").article__link Xiaomi Redmi Note 3 – мощный и доступный смартфон

                          .article__text Прошло всего несколько дней с момента поступления в свободную продажу первого обладающего сканером отпечатков пальцев смартфона известного китайского вендора Xiaomi. До этого десятки тысяч покупателей сделали предзаказы. Прошло всего несколько дней с момента поступления в свободную продажу первого обладающего сканером отпечатков пальцев смартфона известного китайского вендора Xiaomi. До этого десятки тысяч покупателей сделали предзаказы. 
                          .article__footer

                            .article__section
                              .article__owner-avatar
                                img(src="pictures/article-avatar.png", alt="article-avatar")
                              .article__owner-name Евгения Большова
                              .article__publicated 10.07.2017

                            .article__section
                              .article__view 144
                              .article__comments 13
                    
                    a(href="#!").show-more Открыть все обзоры

                .col-2.visible-desktop-large
                  
                  .mini-banner.mini-banner--red
                    .mini-banner__icon.icon-sadman
                    .mini-banner__title Жалобы
                    .mini-banner__text Магазины без доверия
                    a(href="#!").btn.btn-max Добавить жалобу
                  
                  .block.block--white
                    .article-list.article-list--small
                      li
                        article.article
                          
                          .article__title.article__title--small
                            a(href="#!").article__link.article__link--small Lenovo Authorized Store 

                          .rating-wrap
                            .rating-value Рейтинг: 1056
                            ul.rating
                              li.active(style="width: 40%")
                                span.star1
                              li
                                span.star2
                              li
                                span.star3
                              li
                                span.star4
                              li
                                span.star5

                          .article__text.article__text--small Продавец лжец. Отправил мне нерабочий телефон с нерабочим дисплеем, я сделал видео распаковки и на видео четко видно, что телефон сразу не работал.  еще продавец заблокировал сообщения от меня и я не могу с ним поговорить, я не писал ему гадости, я хотел решить спор мирным путем.
                          .article__publicated 10.07.2017

                          .article__footer.article__footer--margin-top-10
                            .article__section
                              a(href="#!").btn.btn-transparent.btn-small Далее

                            .article__section
                              .article__view 450
                              .article__comments 33
                        
                      li
                        article.article
                          
                          .article__title.article__title--small
                            a(href="#!").article__link.article__link--small GoTop Smartphone 

                          .rating-wrap
                            .rating-value Рейтинг: 1056
                            ul.rating
                              li.active(style="width: 20%")
                                span.star1
                              li
                                span.star2
                              li
                                span.star3
                              li
                                span.star4
                              li
                                span.star5

                          .article__text.article__text--small Вообщем заказывал я у этого продавца два телефона в стоимость 12 тыс за единицу , ну и в итоге один из них сломался при бережном использовании. Возмещать как то или идти на...
                          .article__publicated 15.07.2017

                          .article__footer.article__footer--margin-top-10
                            .article__section
                              a(href="#!").btn.btn-transparent.btn-small Далее

                            .article__section
                              .article__view 350
                              .article__comments 11

                      li
                        article.article
                          
                          .article__title.article__title--small
                            a(href="#!").article__link.article__link--small GoTop Smartphone 

                          .rating-wrap
                            .rating-value Рейтинг: 1056
                            ul.rating
                              li.active(style="width: 100%")
                                span.star1
                              li
                                span.star2
                              li
                                span.star3
                              li
                                span.star4
                              li
                                span.star5

                          .article__text.article__text--small Вообщем заказывал я у этого продавца два телефона в стоимость 12 тыс за единицу , ну и в итоге один из них сломался при бережном использовании. Возмещать как то или идти на...
                          .article__publicated 15.07.2017

                          .article__footer.article__footer--margin-top-10
                            .article__section
                              a(href="#!").btn.btn-transparent.btn-small Далее

                            .article__section
                              .article__view 350
                              .article__comments 11

                      li
                        article.article
                          
                          .article__title.article__title--small
                            a(href="#!").article__link.article__link--small Lenovo Authorized Store 

                          .rating-wrap
                            .rating-value Рейтинг: 1056
                            ul.rating
                              li.active(style="width: 40%")
                                span.star1
                              li
                                span.star2
                              li
                                span.star3
                              li
                                span.star4
                              li
                                span.star5

                          .article__text.article__text--small Продавец лжец. Отправил мне нерабочий телефон с нерабочим дисплеем, я сделал видео распаковки и на видео четко видно, что телефон сразу не работал.  еще продавец заблокировал сообщения от меня и я не могу с ним поговорить, я не писал ему гадости, я хотел решить спор мирным путем.
                          .article__publicated 10.07.2017

                          .article__footer.article__footer--margin-top-10
                            .article__section
                              a(href="#!").btn.btn-transparent.btn-small Далее

                            .article__section
                              .article__view 450
                              .article__comments 33

                      li
                        article.article
                          
                          .article__title.article__title--small
                            a(href="#!").article__link.article__link--small Lenovo Authorized Store 

                          .rating-wrap
                            .rating-value Рейтинг: 1056
                            ul.rating
                              li.active(style="width: 60%")
                                span.star1
                              li
                                span.star2
                              li
                                span.star3
                              li
                                span.star4
                              li
                                span.star5

                          .article__text.article__text--small Продавец лжец. Отправил мне нерабочий телефон с нерабочим дисплеем, я сделал видео распаковки и на видео четко видно, что телефон сразу не работал.  еще продавец заблокировал сообщения от меня и я не могу с ним поговорить, я не писал ему гадости, я хотел решить спор мирным путем.
                          .article__publicated 10.07.2017

                          .article__footer.article__footer--margin-top-10
                            .article__section
                              a(href="#!").btn.btn-transparent.btn-small Далее

                            .article__section
                              .article__view 450
                              .article__comments 33

                    a(href="#!").show-more Открыть все жалобы
                

            .col-2
              .mini-banner.mini-banner--blue
                .mini-banner__icon.icon-tracking
                .mini-banner__title Трекинг посылок
                .mini-banner__text Введите номер отправления:
                form.tracking-form
                  input(type="text").tracking-form__input
                  button(type="submit").tracking-form__submit

              .block.news-preview
                .block__header
                  .section-title Новости
                  a(href="#!").btn.btn-small.btn-transparent Все новости

                
                .arcticle-wrap
                  article.article
                    a(href="#!").article__image.article__image--height-137
                      img(src="pictures/article-274x137-1.jpg", alt="article-image")
                      .favorite

                    
                    .article__title.article__title--small
                      a(href="#!").article__link.article__link--small Leagoo M5 Edge: стильный бюджетный смартфон с хорошими камерами и достойной начинкой

                    .article__footer
                      .article__section
                        .article__publicated 10.07.2017

                      .article__section
                        .article__view 33
                        .article__comments 456

                  article.article
                    a(href="#!").article__image.article__image--height-137
                      img(src="pictures/article-274x137-2.jpg", alt="article-image")
                      .favorite

                    
                    .article__title.article__title--small
                      a(href="#!").article__link.article__link--small AliExpress Live: онлайн-трансляции с возможностью заказа товаров в прямом эфире

                    .article__footer
                      .article__section
                        .article__publicated 07.07.2017

                      .article__section
                        .article__view 33
                        .article__comments 456

                  article.article
                    a(href="#!").article__image.article__image--height-137
                      img(src="pictures/article-274x137-3.jpg", alt="article-image")
                      .favorite

                    
                    .article__title.article__title--small
                      a(href="#!").article__link.article__link--small Электросамокат Xiaomi Mi Mijia Electric Scooter: забьем на пробки, доедем в офис с ветерком

                    .article__footer
                      .article__section
                        .article__publicated 06.07.2017

                      .article__section
                        .article__view 33
                        .article__comments 456

                  article.article
                    a(href="#!").article__image.article__image--height-137
                      img(src="pictures/article-274x137-4.jpg", alt="article-image")
                      .favorite

                    
                    .article__title.article__title--small
                      a(href="#!").article__link.article__link--small AliExpress Live: онлайн-трансляции с возможностью заказа товаров в прямом эфире

                    .article__footer
                      .article__section
                        .article__publicated 06.07.2017

                      .article__section
                        .article__view 33
                        .article__comments 456

                  article.article
                    a(href="#!").article__image.article__image--height-137
                      img(src="pictures/article-274x137-5.jpg", alt="article-image")
                      .favorite

                    
                    .article__title.article__title--small
                      a(href="#!").article__link.article__link--small Электросамокат Xiaomi Mi Mijia Electric Scooter: забьем на пробки, доедем в офис с ветерком

                    .article__footer
                      .article__section
                        .article__publicated 16.07.2017

                      .article__section
                        .article__view 33
                        .article__comments 456

                a(href="#!").btn.btn-max 
                  span.icon-lamp
                  | Предложить новость

              .mini-banner.mini-banner--green
                .mini-banner__icon.icon-tracking
                .mini-banner__title Рассылка новостей
                .mini-banner__text Будьте в курсе обновлений!
                form.tracking-form
                  input(type="text" placeholder="Ваш e-mail...").tracking-form__input
                  button(type="submit").tracking-form__submit     
            
            .col-3.hidden-desktop-large

              .mini-banner.mini-banner--red
                .mini-banner__icon.icon-sadman
                .mini-banner__title Жалобы
                .mini-banner__text Магазины без доверия
                a(href="#!").btn.btn-max Добавить жалобу
              
              .block.block--white
                .article-list.article-list--small
                  li
                    article.article
                      
                      .article__title.article__title--small
                        a(href="#!").article__link.article__link--small Lenovo Authorized Store 

                      .rating-wrap
                        .rating-value Рейтинг: 1056
                        ul.rating
                          li.active(style="width: 40%")
                            span.star1
                          li
                            span.star2
                          li
                            span.star3
                          li
                            span.star4
                          li
                            span.star5

                      .article__text.article__text--small Продавец лжец. Отправил мне нерабочий телефон с нерабочим дисплеем, я сделал видео распаковки и на видео четко видно, что телефон сразу не работал.  еще продавец заблокировал сообщения от меня и я не могу с ним поговорить, я не писал ему гадости, я хотел решить спор мирным путем.
                      .article__publicated 10.07.2017

                      .article__footer.article__footer--margin-top-10
                        .article__section
                          a(href="#!").btn.btn-transparent.btn-small Далее

                        .article__section
                          .article__view 450
                          .article__comments 33
                    
                  li
                    article.article
                      
                      .article__title.article__title--small
                        a(href="#!").article__link.article__link--small GoTop Smartphone 

                      .rating-wrap
                        .rating-value Рейтинг: 1056
                        ul.rating
                          li.active(style="width: 20%")
                            span.star1
                          li
                            span.star2
                          li
                            span.star3
                          li
                            span.star4
                          li
                            span.star5

                      .article__text.article__text--small Вообщем заказывал я у этого продавца два телефона в стоимость 12 тыс за единицу , ну и в итоге один из них сломался при бережном использовании. Возмещать как то или идти на...
                      .article__publicated 15.07.2017

                      .article__footer.article__footer--margin-top-10
                        .article__section
                          a(href="#!").btn.btn-transparent.btn-small Далее

                        .article__section
                          .article__view 350
                          .article__comments 11

                  li
                    article.article
                      
                      .article__title.article__title--small
                        a(href="#!").article__link.article__link--small GoTop Smartphone 

                      .rating-wrap
                        .rating-value Рейтинг: 1056
                        ul.rating
                          li.active(style="width: 100%")
                            span.star1
                          li
                            span.star2
                          li
                            span.star3
                          li
                            span.star4
                          li
                            span.star5

                      .article__text.article__text--small Вообщем заказывал я у этого продавца два телефона в стоимость 12 тыс за единицу , ну и в итоге один из них сломался при бережном использовании. Возмещать как то или идти на...
                      .article__publicated 15.07.2017

                      .article__footer.article__footer--margin-top-10
                        .article__section
                          a(href="#!").btn.btn-transparent.btn-small Далее

                        .article__section
                          .article__view 350
                          .article__comments 11

                  li
                    article.article
                      
                      .article__title.article__title--small
                        a(href="#!").article__link.article__link--small Lenovo Authorized Store 

                      .rating-wrap
                        .rating-value Рейтинг: 1056
                        ul.rating
                          li.active(style="width: 40%")
                            span.star1
                          li
                            span.star2
                          li
                            span.star3
                          li
                            span.star4
                          li
                            span.star5

                      .article__text.article__text--small Продавец лжец. Отправил мне нерабочий телефон с нерабочим дисплеем, я сделал видео распаковки и на видео четко видно, что телефон сразу не работал.  еще продавец заблокировал сообщения от меня и я не могу с ним поговорить, я не писал ему гадости, я хотел решить спор мирным путем.
                      .article__publicated 10.07.2017

                      .article__footer.article__footer--margin-top-10
                        .article__section
                          a(href="#!").btn.btn-transparent.btn-small Далее

                        .article__section
                          .article__view 450
                          .article__comments 33

                  li
                    article.article
                      
                      .article__title.article__title--small
                        a(href="#!").article__link.article__link--small Lenovo Authorized Store 

                      .rating-wrap
                        .rating-value Рейтинг: 1056
                        ul.rating
                          li.active(style="width: 60%")
                            span.star1
                          li
                            span.star2
                          li
                            span.star3
                          li
                            span.star4
                          li
                            span.star5

                      .article__text.article__text--small Продавец лжец. Отправил мне нерабочий телефон с нерабочим дисплеем, я сделал видео распаковки и на видео четко видно, что телефон сразу не работал.  еще продавец заблокировал сообщения от меня и я не могу с ним поговорить, я не писал ему гадости, я хотел решить спор мирным путем.
                      .article__publicated 10.07.2017

                      .article__footer.article__footer--margin-top-10
                        .article__section
                          a(href="#!").btn.btn-transparent.btn-small Далее

                        .article__section
                          .article__view 450
                          .article__comments 33

                a(href="#!").show-more Открыть все жалобы
        
      .banner
        .container
          .banner__wrap
            

            .banner__content

              .banner__title Что такое AliWorld?
              p  Каждый человек делает что-то лучше других. Мы, например, лучше других разбираемся в покупках на AliExpress.com. Что купить, как, а главное, у кого – на эти вопросы мы отвечаем каждый день, чтобы вы не волновались и не рисковали, а совершали только выгодные и честные покупки.
              p Суть AliWorld в том, что его создают реальные покупатели. Мы заказываем товары, тестируем их, изучаем продавцов, ищем выгодные сделки и предложения. Наша цель – развивать не просто сайт, где можно хвастаться приобретенными вещами, рассказывать о неудачах, советоваться и задавать вопросы. Мы объединяем всех, кто покупает на AliExpress, в одном месте собираем покупательский опыт, информацию о тех, кому стоит доверять, а кому не стоит. 
                .banner__footer
                  a(href="#!").btn.btn-transparent.btn-small Подробнее о сайте
              
            .banner__aside
              .banner__title Будьте на связи!
              .vidget-wrap
                img(src="pictures/vidget.jpg", alt="vidget")


    //= template/footer.jade

    //= template/scripts.jade
