doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade

  body
    #wrapper

      //= template/header.jade

      section.middle
        .container
          
          //= template/breadcrumb.jade

          .middle__row
            .middle__content

              .block.block--white
                .content
                  .block__header.block__header--left
                    h1.title-h1 Заказываем товар на АлиЭкспресс посылкой до востребования. Заголовок первого уровня.
                    
                    .block__head-item
                      .article__date 10 июля 2017, 13:25
                    .block__head-item
                      .article__view 144
                    .block__head-item
                      a(href="#!").add-to-favorite Добавить в избранное

                  .block__body
                    .image
                      img(src="pictures/article-1050x350-2.jpg.jpg.jpg", alt="article-image")

                    p На АлиЭкспресс появилась мода совершать покупки и заказывать отправку товара посылкой до востребования. Причин для такой «заморочки» может быть много. Иногда пользователи по каким-то причинам не хотят светить свой реальный адрес. Возможно, они просто боятся, что его могут использовать в нехороших целях. 

                    h2.title-h2 Заголовок второго уровня. Пример ненумерованного списка:

                    ul
                      li Очень желательно заполнить поле с телефоном (или мобильным номером). Если продавец укажет его на наклейке с адресом доставки, то в этом случае есть вероятность того, что при поступлении посылки в ваше почтовое отделение, его сотрудник позвонит по указанному номеру и оповестит вас о возможности прийти и забрать вашу посылку.
                      li Если вы заказали посылку без возможности ее отслеживания в интернете (к примеру, дешевый товар с бесплатной доставкой), то не забывайте заглядывать на почту и не пропустите окончание срока защиты покупателя в карточке совершенного заказа. Если время будет на исходе, а в ваше почтовое отделение посылка так и не поступит, вы знаете, что делать – открывайте спор и не забудьте, что недавно обновились правила ведения споров на АлиЭкспресс.
                    
                    .image
                      img(src="pictures/detail-image-big.jpg", alt="detail-image")
                      .image__caption.image__caption--right Подпись к изображению — caption
                    
                    h3.title-h3 Заголовок третьего уровня. Пример нумерованного списка:

                    ol
                      li Если вы заказали посылку без возможности ее отслеживания в интернете (к примеру, дешевый товар с бесплатной доставкой), то не забывайте заглядывать на почту и не пропустите окончание срока защиты покупателя в карточке совершенного заказа. Пример ссылки в тексте. Если время будет на исходе, а в ваше почтовое отделение посылка так и не поступит, вы знаете, что делать – открывайте спор и не забудьте, что недавно обновились правила ведения споров на АлиЭкспресс.
                      li Очень желательно заполнить поле с телефоном (или мобильным номером). Если продавец укажет его на наклейке с адресом доставки, то в этом случае есть вероятность того, что при поступлении посылки в ваше почтовое отделение, его сотрудник позвонит по указанному номеру и оповестит вас о возможности прийти и забрать вашу посылку.
                  
                  .block__divider

                  //= template/coments-block.jade

              .tag-links
                a(href="#!") Теги, 
                a(href="#!") Спиннеры, 
                a(href="#!") Игры, 
                a(href="#!") Популярное, 
                a(href="#!") Профнастил, 
                a(href="#!") Сайдинг, 
                a(href="#!") Сопутствующие товары для профлиста, 
                a(href="#!") Метки металл, 
                a(href="#!") Монтаж кровли, 
                a(href="#!") Сопутствующие товары 
              



            .middle__aside
              .block
                .page-title Популярные метки
                
                //= template/tags-block.jade

              .block
                .page-title Новые комментарии
          
                .aside-comments
                  .aside-comment 
                    span.bold Ярослав Родный 
                    | к записи  
                    a(href="#!")  «Самый популярный запрос на АлиЭкспресс – спиннеры»
                    |  в разделе 
                    a(href="#!")  «Статьи»
                  .aside-comment 
                    span.bold Ярослав Родный 
                    | к записи  
                    a(href="#!")  «Самый популярный запрос на АлиЭкспресс – спиннеры»
                    |  в разделе 
                    a(href="#!")  «Статьи»
                  .aside-comment 
                    span.bold Ярослав Родный 
                    | к записи  
                    a(href="#!")  «Самый популярный запрос на АлиЭкспресс – спиннеры»
                    |  в разделе 
                    a(href="#!")  «Статьи»
                  .aside-comment 
                    span.bold Ярослав Родный 
                    | к записи  
                    a(href="#!")  «Самый популярный запрос на АлиЭкспресс – спиннеры»
                    |  в разделе 
                    a(href="#!")  «Статьи»
                  .aside-comment 
                    span.bold Ярослав Родный 
                    | к записи  
                    a(href="#!")  «Самый популярный запрос на АлиЭкспресс – спиннеры»
                    |  в разделе 
                    a(href="#!")  «Статьи»
                  .aside-comment 
                    span.bold Ярослав Родный 
                    | к записи  
                    a(href="#!")  «Самый популярный запрос на АлиЭкспресс – спиннеры»
                    |  в разделе 
                    a(href="#!")  «Статьи»
          
          .other-articles
            .page-title Другие статьи

            ul.article-list.article-list--four-col
              li 
                article.article

                  .article__image
                    img(src="pictures/article-350x263-1.jpg.jpg", alt=".article__image")
                  
                  .article__title.article__title--small
                    a(href="#!").article__link.article__link--small Электросамокат Xiaomi Mi Mijia Electric Scooter: забьем на пробки, доедем в офис с ветерком

                  .article__footer.article__footer--margin-top-10

                    .article__section
                      .article__publicated 10.07.2017

                    .article__section
                      .article__view 450
                      .article__comments 33
              li 
                article.article

                  .article__image
                    img(src="pictures/article-350x263-1.jpg.jpg", alt=".article__image")
                  
                  .article__title.article__title--small
                    a(href="#!").article__link.article__link--small Электросамокат Xiaomi Mi Mijia Electric Scooter: забьем на пробки, доедем в офис с ветерком

                  .article__footer.article__footer--margin-top-10

                    .article__section
                      .article__publicated 10.07.2017

                    .article__section
                      .article__view 450
                      .article__comments 33
              li 
                article.article

                  .article__image
                    img(src="pictures/article-350x263-1.jpg.jpg", alt=".article__image")
                  
                  .article__title.article__title--small
                    a(href="#!").article__link.article__link--small Электросамокат Xiaomi Mi Mijia Electric Scooter: забьем на пробки, доедем в офис с ветерком

                  .article__footer.article__footer--margin-top-10

                    .article__section
                      .article__publicated 10.07.2017

                    .article__section
                      .article__view 450
                      .article__comments 33
              li 
                article.article

                  .article__image
                    img(src="pictures/article-350x263-1.jpg.jpg", alt=".article__image")
                  
                  .article__title.article__title--small
                    a(href="#!").article__link.article__link--small Электросамокат Xiaomi Mi Mijia Electric Scooter: забьем на пробки, доедем в офис с ветерком

                  .article__footer.article__footer--margin-top-10

                    .article__section
                      .article__publicated 10.07.2017

                    .article__section
                      .article__view 450
                      .article__comments 33
      

    //= template/footer.jade

    //= template/scripts.jade
