doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade

  body
    .page
      #wrapper

        //= template/header.jade

        section.middle
          .container
            
            //= template/breadcrumb.jade

            .page-title Новости

            .middle__row
              .middle__content

                .article-single
                  article.article.article--white
                    .article__body
                      .article__image.article__image--max
                        img(src="pictures/news-big.jpg", alt="articel-image")
                        .article__favorite

                      .article__title
                        .article__favorite
                        a(href="#!").article__link Leagoo M5 Edge: стильный бюджетный смартфон с хорошими камерами и достойной начинкой
                      .article__text На АлиЭкспресс начались продажи совсем недавно представленного нового бюджетного смартфона Leagoo M5 Edge. Несмотря на то, что он явно относится к начальному сегменту мобильных гаджетов, компания-производитель смогла вложить в него несколько очень интересных «изюминок», благодаря которым он неплохо выделяется среди прочих телефонов своего класса. 

                    .article__footer.article__footer--separate
                      .article__section
                        .article__date 10 июля 2017, 13:25
                      
                      .article__section
                        .article__section
                          .article__view 655
                          .article__comments 23
                        .article__section
                          a(href="#!").btn.footer-btn 
                            span.hidden-mobile Читать далее
                            span.visible-mobile Далее
                

                ul.article-list.article-list--two-col
                  li
                    article.article.article--white
                      .article__body
                        .article__image
                          img(src="pictures/news-480x240.jpg", alt="articel-image")
                          .article__favorite
                        .article__title
                          a(href="#!").article__link Самый популярный запрос на АлиЭкспресс – спиннеры
                        .article__text К окончанию первого полугодия на АлиЭкспресс решили подсчитать, какие товары пользовались наибольшей популярностью среди своих пользователей. Для этого решили исследовать запросы покупателей за последние два месяца. 
                      .article__footer.article__footer--separate
                        .article__section
                          .article__publicated 8.07.2017

                        .article__section
                          .article__view 655
                          .article__comments 23
                          a(href="#!").btn.btn-medium.footer-btn 
                            span.hidden-mobile Далее
                            span.visible-mobile Читать далее

                  li
                    article.article.article--white
                      .article__body
                        .article__image
                          img(src="pictures/news-480x240.jpg", alt="articel-image")
                          .article__favorite.active
                        .article__title
                          a(href="#!").article__link Самый популярный запрос на АлиЭкспресс – спиннеры
                        .article__text К окончанию первого полугодия на АлиЭкспресс решили подсчитать, какие товары пользовались наибольшей популярностью среди своих пользователей. Для этого решили исследовать запросы покупателей за последние два месяца. 
                      .article__footer.article__footer--separate
                        .article__section
                          .article__publicated 8.07.2017

                        .article__section
                          .article__view 655
                          .article__comments 23
                          a(href="#!").btn.btn-medium.footer-btn 
                            span.hidden-mobile Далее
                            span.visible-mobile Читать далее

                  li
                    article.article.article--white
                      .article__body
                        .article__image
                          img(src="pictures/news-480x240.jpg", alt="articel-image")
                          .article__favorite
                        .article__title
                          a(href="#!").article__link Самый популярный запрос на АлиЭкспресс – спиннеры
                        .article__text К окончанию первого полугодия на АлиЭкспресс решили подсчитать, какие товары пользовались наибольшей популярностью среди своих пользователей. Для этого решили исследовать запросы покупателей за последние два месяца. 
                      .article__footer.article__footer--separate
                        .article__section
                          .article__publicated 8.07.2017

                        .article__section
                          .article__view 655
                          .article__comments 23
                          a(href="#!").btn.btn-medium.footer-btn 
                            span.hidden-mobile Далее
                            span.visible-mobile Читать далее

                  li
                    article.article.article--white
                      .article__body
                        .article__image
                          img(src="pictures/news-480x240.jpg", alt="articel-image")
                          .article__favorite
                        .article__title
                          a(href="#!").article__link Самый популярный запрос на АлиЭкспресс – спиннеры
                        .article__text К окончанию первого полугодия на АлиЭкспресс решили подсчитать, какие товары пользовались наибольшей популярностью среди своих пользователей. Для этого решили исследовать запросы покупателей за последние два месяца. 
                      .article__footer.article__footer--separate
                        .article__section
                          .article__publicated 8.07.2017

                        .article__section
                          .article__view 655
                          .article__comments 23
                          a(href="#!").btn.btn-medium.footer-btn 
                            span.hidden-mobile Далее
                            span.visible-mobile Читать далее
                
                //= template/pagination.jade

              .middle__aside
                .block
                  .page-title Популярные метки
                  
                  //= template/tags-block.jade

                .block
                  .page-title Новые комментарии
            
                  .aside-comments
                    .aside-comment 
                      span.bold Ярослав Родный 
                      | к записи  
                      a(href="#!")  «Самый популярный запрос на АлиЭкспресс – спиннеры»
                      |  в разделе 
                      a(href="#!")  «Статьи»
                    .aside-comment 
                      span.bold Ярослав Родный 
                      | к записи  
                      a(href="#!")  «Самый популярный запрос на АлиЭкспресс – спиннеры»
                      |  в разделе 
                      a(href="#!")  «Статьи»
                    .aside-comment 
                      span.bold Ярослав Родный 
                      | к записи  
                      a(href="#!")  «Самый популярный запрос на АлиЭкспресс – спиннеры»
                      |  в разделе 
                      a(href="#!")  «Статьи»
                    .aside-comment 
                      span.bold Ярослав Родный 
                      | к записи  
                      a(href="#!")  «Самый популярный запрос на АлиЭкспресс – спиннеры»
                      |  в разделе 
                      a(href="#!")  «Статьи»
                    .aside-comment 
                      span.bold Ярослав Родный 
                      | к записи  
                      a(href="#!")  «Самый популярный запрос на АлиЭкспресс – спиннеры»
                      |  в разделе 
                      a(href="#!")  «Статьи»
                    .aside-comment 
                      span.bold Ярослав Родный 
                      | к записи  
                      a(href="#!")  «Самый популярный запрос на АлиЭкспресс – спиннеры»
                      |  в разделе 
                      a(href="#!")  «Статьи»

        

      //= template/footer.jade

    //= template/scripts.jade
