doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade

  body
    #wrapper

      //= template/header.jade

      section.middle
        .container
          .middle__row
            .middle__content
              h1 content title
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi corporis, nostrum quis provident recusandae ratione sequi explicabo. Aspernatur incidunt ex minus quis voluptatibus error, provident modi itaque adipisci minima necessitatibus quas, id. Repellat optio, fuga accusantium ullam sapiente! Placeat eos fuga omnis optio nisi, culpa impedit cumque laborum atque quasi ipsum sint. Repellat sit officiis architecto cupiditate eveniet, molestias ullam ratione rerum totam nulla magnam, sapiente sunt minima rem. Earum illum officiis similique, hic adipisci at quia odio aut in consectetur rerum molestias facilis magni expedita amet voluptate, sequi delectus. Eveniet ullam dolores impedit. Beatae nemo aspernatur at commodi, nisi.
            .middle__aside
              h1 aside title
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem in necessitatibus non, dolore reiciendis praesentium cum id molestiae quidem odit modi dolor suscipit pariatur accusamus aut, nesciunt, harum minima a, voluptas illum unde ex enim ut! Est necessitatibus fugit quidem, labore alias natus nostrum corporis doloribus sequi ipsum, qui odio eius explicabo itaque. Tempore possimus dicta excepturi totam cumque, dolorum dolorem, reprehenderit rerum nulla eaque corporis commodi, enim repellat aliquam nihil nisi veritatis iste! Sapiente pariatur odio perferendis, id vel perspiciatis repudiandae, magni, praesentium velit explicabo maiores ex laboriosam dolores adipisci cupiditate. Incidunt, sapiente aperiam, animi ab ratione repellat deleniti.

          
          
      

    //= template/footer.jade

    //= template/scripts.jade
